.order-list {
  // overflow-y: scroll;
  // padding-left: 10px;
  // // padding-right: 10px;
  // padding-bottom: 70px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  .paging a {
    color: white;
  }

  .paging .ant-pagination-item-active a {
    color: black;
  }

  .paging .ant-pagination-item-link {
    color: white;
  }

  .paging-bottom {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 90px;
    padding: 5px;
    background-color: #5984db;
    border-radius: 5px;
    z-index: 999;
    color: red;
  }
}
